[2019-07-24 13:40] agrignard opened #1 "Provide the shapefile for the Bac Hung Hai envelop"

[2019-07-24 13:51] agrignard opened #2 "Provides a dem for Bac Hung Hai Province"
We will need a dem model in order to replace the generic one call hab10.asc.

[2019-07-29 14:51] agrignard opened #3 "Provides a landuse map"
ban do dat.shp migh tbe the good one however it need to be projected in the right coordinate.

[2019-07-29 15:03] agrignard opened #4 "WaterManagement_modulo not working"
@hqnghi88 WaterManagement_modulo is not working throwing this exception

[code]

[2019-07-29 15:16] hqnghi88 commented on #4
which version of gama, as i am using the latest (git) and if possible, export your preference then?
Thanks.

[2019-07-29 15:19] agrignard commented on #4
Let's try to have this projet running on the 1.8 official release (for the other user that don't use GIT)

[2019-07-29 15:21] hqnghi88 commented on #4
OK which offcial release ??? And i am working for that official release so i cannot switching recently to older version and also we should know it if it is a bug. Thanks

[2019-07-29 15:23] agrignard commented on #4
GAMA1.8_Official_withJDK_Mac_64bits the one of the website (22 of June)

[2019-07-29 15:24] benoitgaudou commented on #4
Hi Arnaud,

The version on the website referenced as the GAMA Official is only the
future expected 1.8 Official, once we decided to "freeze" it.
It was been created in order to have all the workflow ready when we decide
to really release it.

Hopefully tomorrow or in 2 days :-)

Benoit

Le lun. 29 juil. 2019 à 22:21, HUYNH Quang-Nghi <notifications@github.com>
a écrit :

[2019-07-29 15:30] agrignard commented on #4
Ok so for now let's move on the GIT version (which will be hopefully the official 1.8 soon)

[2019-07-29 15:30] #4 closed, assigned to hqnghi88

[2019-07-30 03:12] khanhnt commented on #3
I have just updated the coordinate according to the OpenData, it matches with the OpenData. But, I don't understand why we don't  use the data provided by BHH company directly. It has all needed layers, including landuse, rivers, gates and so on.

[2019-07-30 03:52] benoitgaudou opened #5 "Full setup"
Hi all,
I just reviewed some of the discussions by email.
I would like to launch the discussion about the full hardware setup needed for this project.

If I am not wrong we need:
- 1 computer/laptop to run the simulation
- a way to project from the top, which includes: 1 projector, something to carry the projector. As an example, below is a picture of the HKA setup.
- lego blocks
- the table: @agr

[2019-07-30 14:44] agrignard commented on #5
For the projector, it usually looks better if the projector are directly mounted on the sailing so people can freely move around the table, if not we usually use 80/20 frames (8020.net)

For the table itself indeed it's a bit more complex than just a frame if we want to have a scanning part.

Here is one of the solutions that we use in different project:

https://github.com/CityScope/cityscope.git

[2019-07-31 15:53] agrignard commented on #3
@khanhnt  what do you mean by updating the coordinate according to the OpenData?

Did you modify any files? If yes do you think you can commit them?

[2019-08-01 07:43] khanhnt commented on #3
I changed the SRC of landuse and also some other layers to match with the layers in OpenData, as you see in the following figure,  if that it you need, I will push it.
![Screen Shot 2019-08-01 at 14 40 23](https://user-images.githubusercontent.com/5887348/62274743-adfbbc80-b46a-11e9-8f8c-0b663d55d3dd.jpg)

[2019-08-01 12:32] agrignard commented on #3
Ok great. That s exactly what we need so now everything is in the same projection. Can you commit your change ?

[2019-08-01 14:56] khanhnt commented on #3
Hi Arnaud, it seems I don't have enough permission to commit the files.

[2019-08-01 15:08] agrignard commented on #3
I just added you as a contributor you should be able to push now

[2019-08-01 17:56] agrignard commented on #3
@khanhnt would it be possible to do it for all the data in the TuiLoiData.

Right now when I open the one in OpenData and the one in TuiLoiData in QGIS they don't all match. Only TramMua.shp seems coherent

[2019-08-02 04:10] khanhnt commented on #3
done @agrignard, I have updated the TuiLoiData.

[2019-08-06 19:14] agrignard commented on #3
@khanhnt thank you for the contribution here however for now I have to remove the land from the model as it slows down a lot the model (many agent land are used)

I think we need to simplify a lot the landuse layer in order to be able to integrate the and species in the model.

[2019-08-28 19:32] agrignard commented on #3
@khanhnt I am working on the landuse data and I see that there is more than 20 different type of landuse

Would it be possible to have a more simple classification of landuse? Where does thos data come from? is it a vietnamese standard?

If it's important to keep those data we will then need to document here the usage of the type. For instance what is "Paddy: 2 rotations per year"? Would it be pos

[2019-09-03 01:54] khanhnt commented on #3
The data come from BHH company. It maybe follow a existence standard. I will ask them for more detail information.

[2019-09-06 12:33] benoitgaudou opened #6 "Find flowing direction"
Find with Chien and other hydrologists to know how the water flows (which directions), at each  intersection.

[2019-09-06 13:26] benoitgaudou opened #7 "Model BacHungHai Irrigation System.gaml does not work: wrong file name"
The model `BacHungHai Irrigation System.gaml` shows an error at initialization as a file is missing or a file name is wrong:

[code]

[2019-09-10 16:20] tnguyenh commented on #7
Is river_simple_splitted.shp supposed to be a clean shapefile ? The current ones in the other models are not connex, so it is currently not possible to implement a proper water flow...

[2019-09-10 19:38] #7 closed, assigned to nobody

[2019-09-10 19:38] agrignard commented on #7
It was just a naming convention. the last commit fixed the issue

[2019-09-24 15:08] khanhnt commented on #5
Is it the acrylic transparent, @agrignard ? We will put the grid on the plate, and the camera in the box to capture the QR code, and send it then to the server.

[2019-09-25 14:02] agrignard commented on #5
Yes you need a transparent acrylic to be able to see from the bottom the lego Qr Code

[2019-10-16 15:35] agrignard opened #8 "Visualization Design Choice"
Right now it's hard to see exactly the role/impact of each landuse.

I don't know exactly how to do that, maybe one simple way could be to emit particul that are the same color as the landuse? Also, how do we represent visually a landuse that consume a lot.

This is purely visual question but that's the one we need now to adress in order to get a successful tangible interface

@benoitgaudou and @t

[2019-10-16 15:36] #1 closed, assigned to nobody

[2019-10-16 15:50] agrignard opened #9 "old model don't work anymore"
The model that were working don't run anymore (e.g WaterManagementOpenGeneric.gaml)

It would be great to keep the model working even when reorganizing the folder.

[2019-10-17 11:56] tnguyenh commented on #8
We still need the correct table from Doanh to determine water consumption/pollution level for each land use.

Do you mean that you would like something that is more visual in regard to the table behavior or something to remind the behavior of each land use, for example in legend ?

[2019-10-17 13:23] agrignard commented on #8
I mean something more visual on the table itself so the user can understand whats happening

The value can now be guessed what I am saying that it's hard to see now the impact of each landuse of the water. We only see red or blue particle. Maybe one way could be to emit a particle that is the same color as the landuse (with a certain amount depending on the type)

[2019-10-17 13:57] tnguyenh commented on #8
For now land plots emit polluted water, which is not specific to each land use, but we can change that. It is more the amount of water that is consumed and the amount of pollution produced that differ from one land use to another.

To make it more visual for now, put a lot of green plots and just one industry plot (the red one). You can see how the pollution is emitted downwards (I need to improve

[2019-10-17 14:04] tnguyenh commented on #9
It's in the 'old' folder ? It's not meant to be used anymore...

[2019-10-17 14:25] tnguyenh commented on #8
Try the new version, the polluted water has the same color as the originating land plot.

Colors should be changed because dark blue plots generate dark blue polluted water, which is the same as the regular water. Green is not a good color for pollution. Or do you think of another visualization ?

[2019-10-17 14:28] tnguyenh opened #10 "Lego parts"
Hi,

we urgently need to determine which lego parts we should buy. So first we should determine what is built in lego parts, and what is not.

- The land plots 4x4x?. Maybe with a 6x6x? cover
- the table ? Or is it in plastic or plexiglass ? What size ? 60x60 or bigger ?
- other buttons, such as gate switches ?

[2019-10-17 14:42] agrignard commented on #9
Doesn't mean it shouldn't work ;-) or we remove it

[2019-10-17 14:45] agrignard commented on #8
Great ! It is easier to tell the story now and follow the particle emited by specific landuse

Agree with you the color are not good for now, green doesn't sound like pollution and Blue is confusing. let's keep it like this for now for debug mode and we will propose a better color palette.

Thakns for the update!

[2019-10-17 14:46] agrignard commented on #8
I close this issue and might open other one related to design question.

[2019-10-17 14:46] #8 closed, assigned to benoitgaudou, tnguyenh

[2019-10-17 14:46] tnguyenh commented on #10
More info from Lego website:

- each part is between 0.10€ and 0.20€
- delivery is within 15 days, so we need to order on next monday !!

[2019-10-17 14:46] agrignard commented on #10
OK @tnguyenh let's discuss this together today

[2019-10-17 14:54] tnguyenh commented on #9
It should be removed, but see it as a reserve for spare parts... we might need to get some code parts to add to the final model, that's why we have not deleted it yet...

Anyway I cleaned it, except for testData because I don't know to what file it refers to.

[2019-10-17 14:54] tnguyenh commented on #10
OK skype later...

[2019-10-19 14:19] tnguyenh opened #11 "Number of land use type"
Hi,

we have currently 5 land use types (fish, rice, industry, vegetable, urban).

What are the requirements for the scanner ? Should it be 4 pieces (2x2 each), black or white ? Or do we have a little bit more flexibility ?

If we want to change the gate status (open or close) by rotating the legos pieces, we only have 4 possibilities for land use:

10    11    10    11
00    00    01    01

For t

[2019-10-19 16:45] agrignard commented on #11
We only have black and white pieces with this scanner so you're right we have to remove one landuse

[2019-10-20 15:48] tnguyenh commented on #10
Dear all,

I think that we all agree on the 6x6 design on top, with a 4x4 layer for the scanner. The block design would be like this:

![Sans titre](https://user-images.githubusercontent.com/18676913/67162156-bd9bea80-f361-11e9-97a4-c78e396d8038.png)

This is the cost on Lego website:

![lego](https://user-images.githubusercontent.com/18676913/67162163-d73d3200-f361-11e9-92a6-033d53414958.png)

Ho

[2019-10-20 23:50] benoitgaudou commented on #11
The other solution is to find an alternative way to manage gates:
what about a set of buttons that can be pressed to open and close gates?

[2019-10-21 00:03] benoitgaudou commented on #10
Hi all,
I am not an expert, but what I saw on the scanner software is the following:
- It scans at the scale of 1 lego atom (the smallest piece of lego).
- From this matrix, it identifies blocks of 4x4 to give it a code given a set of patterns.
- The dimensions of the grid, but also the size of the pattern could be changed.

But, my point is that:
- if we have 4x4 identified and 6x6 on the top, th

[2019-10-21 13:50] agrignard commented on #10
The scanned part is still a 4x4, the 6x6 is just to show bigger lego, keep in mind that there is a piece of white plastic as a canvas for the grid so the scanner only see the 4x4

[2019-10-21 13:52] agrignard commented on #11
THis mode of edition is actually really intuitive, we will keep it, so we need to decide which landuse we remove

So far we have
"Fish", "Rice","Vegetables", "Industrial", "Urban"

From what I understand each of them have a specific behavior, I have the feeling that we coudl merge Industrial and Urban?  or Rice and Vegetables but it seems to me that Rice consume more water than vegetable?

[2019-10-21 17:26] agrignard opened #12 "Readjust the gate to match the grid"
@tnguyenh any chance you can modify the Gate position so they match better to the grid?

[2019-10-21 17:44] tnguyenh commented on #12
yes

[2019-10-21 18:00] agrignard commented on #3
@khanhnt would it be possible to have a less detail map of the landuse? Maybe something at the district level? Right now the Tui Loi Data is too detailed so it's hard to isolate elements
<img width="1085" alt="Screen Shot 2019-10-21 at 13 59 30" src="https://user-images.githubusercontent.com/3928502/67230285-08257180-f40b-11e9-934c-6fed5b4ac6c9.png">

I was thinking to have something with bigger e

[2019-10-21 18:42] tnguyenh commented on #12
Shapefile updated. The gates should appear completely on the lego bricks. Only one gate per brick, not all bricks have gates.

Source and sink are not affected by the rotation (however they are affected by mouse clicks). This is not a problem since there is always a gate nearby. Source and sink cannot be aligned properly on the grid for obvious reasons, so I suggest to keep them like that and remo

[2019-10-22 08:40] benoitgaudou commented on #10
So If there is a plastic piece between lego species, we will get something like that:
(that means the camera will need to scan 5 x 5 matrices (20x20 pixels) in order to get the four meaningful pieces ? )

<img width="752" alt="Screenshot 2019-10-22 at 15 38 08" src="https://user-images.githubusercontent.com/1555274/67270015-fcf14500-f4e1-11e9-8757-05860a684418.png">

[2019-10-22 12:07] tnguyenh commented on #10
I am not sure to understand right... there will still be a 8x8 matrix of lego pieces. As in your drawing, the top part is 6x6, with two dots separating the pieces. However this is not visible for the camera. The bottom layer is 15x15, with 1 column out of two (resp row) being void. So you need to scan a 15x15 matrix (60px X 60px).

[2019-10-22 17:30] tnguyenh commented on #10
How many blocks do we buy ? 64 for the table, and 64 more for playing ?

[2019-10-22 17:59] tnguyenh commented on #10
Tell me if you see any mistake:

![lego2](https://user-images.githubusercontent.com/18676913/67315206-65521d80-f506-11e9-9937-199b050d6485.png)

[2019-10-22 22:51] benoitgaudou commented on #10
Hi,
Just to be sure, each piece on the table will be composed of:
- 4 plates 2x2
- 1 plate 6x6
- 6 FLAT tile 1x6

So will have a set of 2 x 64 pieces (in terms of plate 6x6 and Flat Tile 1x6), and we will have enough plates 2x2 to have only full black or full white pieces.

That seems good to me.

[2019-10-22 23:18] tnguyenh commented on #10
Yes, that's it. No full white or full black, since it is not possible to see a rotation with the camera.

[2019-10-24 23:52] khanhnt commented on #3
OK @agrignard,  I will try to update the map myself first. If it is impossible, I will ask the help from researchers in the field

[2019-10-25 14:31] agrignard commented on #3
Just for information I already update some data in this commit
https://github.com/CityScope/CSL_Hanoi/commit/35c3bb8696704e372b18593430ce872e756dbe09

Here https://github.com/CityScope/CSL_Hanoi/tree/master/WaterManagement/includes/VNM_adm

For now I think this is enough for what we need. I thus close this issue for now

[2019-10-25 14:31] #3 closed, assigned to nobody

[2019-10-25 14:32] #12 closed, assigned to tnguyenh

[2019-10-25 14:32] agrignard commented on #11
Urban has been removed

[2019-10-25 14:32] #11 closed, assigned to nobody

[2019-10-25 14:32] #9 closed, assigned to nobody

[2019-10-25 14:34] agrignard commented on #2
@khanhnt do you have any idea if we can find this datasets? It would be usually store in a asc file (digital elevation model)

[2019-10-26 04:12] khanhnt commented on #2
I think the guys from BHH company should have it, I will ask them for it.

[2019-10-26 11:01] benoitgaudou commented on #2
Hi Arnaud,

I admit that I am sure to see why we need the DEM for such a model.
In particular given the fact the BHH is really flat.
It is so flat that the direction of the water change during the year, given the amount of water from the upstream.

But I took the opensource DEM I can find (http://www.gfd.com.vn/en/data.html), and I cut and merge using QGIS.
[BHH.tif.zip](https://github.com/CitySco

[2019-10-29 11:54] khanhnt commented on #2
Thanks @benoitgaudou, I have just updated a bit and convert it to the asc file. @agrignard  is it ok if I push it to includes/BachHungHaiData/ folder ?

[2019-10-29 12:52] agrignard commented on #2
@khanhnt what do you mean I just updated a bit? Did you change also the resolution? Did you try to integrate it in GAMA? I have nitce yesterday some problem with some specific .asc file (see https://github.com/gama-platform/gama/issues/2901)

Can you send it though this issue as an attached file?

I check the one provide from @benoitgaudou it's interesting although pretty flat indeed I produced bu

[2019-10-29 13:31] khanhnt commented on #2
It seems the file Benoit uploaded not fully overlap the whole BHH map, I just recreated the map. I tried to intergrate to Gama, but the file is too big, I am still not successful in loading it.
Here is the file [bhh_dem_asc.zip](https://github.com/CityScope/CSL_Hanoi/files/3783725/bhh_dem_asc.zip)

[2019-10-29 14:10] #6 closed, assigned to nobody

[2019-10-29 18:48] agrignard commented on #5
Here is a full picture showing the actual setup to replicate in Hanoi
<img width="1022" alt="CityScope_Hanoi_setup" src="https://user-images.githubusercontent.com/3928502/67799101-1a329000-fa5b-11e9-8dc0-5a70b57e087b.png">

[2019-10-29 18:51] #2 closed, assigned to hqnghi88

[2019-10-29 22:07] agrignard commented on #5
For the projector, this is a list of compatible ones

https://www.projectorcentral.com/projectors.cfm?g=1&hide=0&st=1&exp1=1&r=13&br=4000-7000&c=&w=&db=&ar=&zr=&wt=&ltg=&ll=&wr=&dt=3.0.0&mfg=&p=&t=&pjl=0&pjw=0&pjh=0&td=&is=&i=d&tr=&tr2=&exp5=1&oop=2&sort=pop&sz=15#top

[2019-10-31 19:18] agrignard opened #13 "Local version working"
Right now the scanner is sending the data to
[code]

However in case internet is not good in Hanoi we need to implement a local version, basically having the scanner sending a udp string

This is not implemented yet

[2019-11-01 02:06] khanhnt commented on #13
Did you mean to implement something like cityio server locally to get the data sent from scanner  and pass it to GAMA ?
And the scanner will send data like this one  [send_json_to_UDP](https://github.com/CityScope/CS_CityScoPy/blob/master/cityscopy.py#L361) ?

[2019-11-01 05:20] benoitgaudou commented on #13
Hi,
Tu (a Vietnamese student working with Doanh on some projects related to the exhibition, including that one), has tested the scanner, and we were able together to make the scanner and GAMA sending information together without going through the server.
Cheers

Benoit

[2019-11-01 13:23] agrignard commented on #13
Ok so can we see (through a pull request) if we can integrate his work? The idea here is indeed to be able (just in case) to have the table working if the internet doesn't work. We will then just need to change a boolean in the scanner to send through UDP and another boolean in GAMA to listen through UDP.

[2019-11-04 16:24] agrignard opened #14 "Cut the grid with Laser Cut"
Here is the file in a dxf format. The current one is the one working now and if you can find a plastic sheets bigger than 76cm then you can also try with the big one

https://github.com/CityScope/CSL_Hanoi/tree/master/hardware

[2019-11-04 16:26] agrignard opened #15 "LED Light with potentiometer"
This is the LED light that needs to be bought (the potentiometer is important to control the power of the light)

https://www.amazon.com/GuoTonG-alimentaci%C3%B3n-certificaci%C3%B3n-impermeable-decoraci%C3%B3n/dp/B072WPBR47/ref=sr_1_1_sspa?gclid=EAIaIQobChMIwcfY_JWr5AIVCRgMCh0RPAi-EAAYASAAEgLKLPD_BwE&hvadid=176963702281&hvdev=c&hvlocphy=9002000&hvnetw=g&hvpos=1t1&hvqmt=e&hvrand=1562411803084723005

[2019-11-04 17:15] benoitgaudou commented on #14
The description of how to build the table is much to complicate (and precise) for people here (but I would be curious to know places where some pieces of 729.209mm can be done (and when it is useful to do it)).

So for the big transparent acrylic plate, I will change the dimension from 768mm x768mm to 770mm x 770mm.

Do you confirm that we keep the same dxf files ?

[2019-11-04 17:28] agrignard commented on #14
Where did you see this number 729.209mm? Indeed it's to precise and maybe due to a conversion between inch and cm

[2019-11-04 17:31] benoitgaudou commented on #14
It is on the side panel E, in the pdf to make the table

[2019-11-07 14:15] agrignard commented on #14
Provide a 770x770 dxf file

[2019-11-07 14:17] agrignard opened #16 "Projector Settings"
Here is a list of compatible projector with the project
https://www.projectorcentral.com/projectors.cfm?g=1&hide=0&st=1&exp1=1&r=1017&br=4000-7000&c=&w=&db=&ar=&zr=&wt=&ltg=&ll=&wr=&dt=3.0.0&mfg=&p=&t=&pjl=0&pjw=0&pjh=0&td=&is=&i=d&tr=&tr2=&exp5=1&oop=2&sort=pop&sz=15#top

The cheapest one is this one
https://www.projectorcentral.com/Optoma-ZW502.htm for 1400$

[2019-11-07 15:12] benoitgaudou commented on #14
Thanks.
Is it possible to have rounded corner to the square ?
(as the transparent part has been cut with rounded corner)

[2019-11-07 15:22] agrignard commented on #14
good idea i will try yes

[2019-11-07 15:35] benoitgaudou commented on #14
I do not have the exact value of the curve, but not so big.
Something like a circle arc with a center at 2cm from the corner
PS: I will send the cut tomorrow

[2019-11-07 18:23] agrignard commented on #14
I just push 2 new file on 770 square and one 770 rounded

[2019-11-08 11:21] benoitgaudou commented on #16
We will buy that projector tomorrow:
ViewSonic PG705HD
(4000 lumen, Full HD, DLP techno)

[2019-11-08 12:39] agrignard commented on #16
@benoitgaudou this one is not in the list I sent as it is not a 4K

It can be worth seing with Doanh if he is ok for this one (https://www.projectorcentral.com/Optoma-ZW502.htm ) if you can find it in Hanoi.

We have a lot of experience with Optomoa or BenQ, I don't know about the quality of the viewsonic

[2019-11-08 13:03] benoitgaudou commented on #16
The last projector you copy the link is not 4K either, and in the first
list you sent us, the criteria was Full HD,

Keep in mind that a list or a precise reference is useless, as we buy what
we can find here following requierements.

If we combine the three links you sent us (two in the github and one per
email), the requirements was > 4000 lumens, at least XWGA/ Full HD and DLP
techno.

When we

[2019-11-08 16:05] tnguyenh commented on #16
If you need more budget for it, we may get some extra money from IRD (themes, 1K max). The problem would be who owns it ?

[2019-11-08 16:22] agrignard commented on #16
Ok you're right there is a problem in the link I send, it is supposed to filter with at least 4K (but a good fullHD is maybe enough) , >4000 lumens and DLP but indeed it gives some projector that are not compatible with this.... I didn't check all of them

[2019-11-08 20:35] agrignard commented on #16
So depending on the budget I let you make the final choice , I guess the ViewSonic PG705HD is already not to bad even if I don't see it in the list provided

[2019-11-08 22:11] benoitgaudou commented on #16
Just for the record, I put it the requirements specified in issue #5
https://www.projectorcentral.com/projectors.cfm?g=1&hide=0&st=1&exp1=1&r=13&br=4000-7000&c=&w=&db=&ar=&zr=&wt=&ltg=&ll=&wr=&dt=3.0.0&mfg=&p=&t=&pjl=0&pjw=0&pjh=0&td=&is=&i=d&tr=&tr2=&exp5=1&oop=2&sort=pop&sz=15#top

[2019-11-08 22:20] benoitgaudou commented on #16
Thank you Tri for the proposition, but when I look at the website of the company where I will buy the projector, there is no 4K projector with enough lumens:
https://tech360.vn/may-chieu-4k

But even if it was available, I cannot see why it is justified to buy a projector with such a resolution, as:
- the picture produced by GAMA has been modified by keystone, which reduces a lot its quality
- the

[2019-11-08 22:35] benoitgaudou opened #17 "Review/check Land Use"
The 4 land uses are now :
- Fishery
- Rice
- vegetables
- Industrials

Please check:
- Fishery: is it the appropriate word ? I am questioning the fish production, whereas in Vietnam there are many shrimp production. ---> aquaculture ?  (in terms of narrative around the model it could also be interesting as shrimp pollutes a lot, they became to be everywhere in the Mekong delta (due to salinization

[2019-11-08 22:40] benoitgaudou opened #18 "Polygons in the Shapefile of administrative area do not touch well"
See below a random example:

<img width="323" alt="Screenshot 2019-11-09 at 05 35 54" src="https://user-images.githubusercontent.com/1555274/68515244-d63d5780-02b2-11ea-8ee1-b6e66363e9fe.png">

[2019-11-08 22:46] benoitgaudou opened #19 "GUI - overlays"
When running the CityScope experiment, I get the following GUI.
Some remarks:
- on the left: there seems to be an overlay (grey and transparent), but it seems too small for the text.
- the text is on the simulated environment ("Hanoi" is on a river).
- on the right: I was not able to see the outputs

<img width="1009" alt="Screenshot 2019-11-09 at 05 41 08" src="https://user-images.githubuserconte

[2019-11-08 22:52] agrignard commented on #17
Aquaculture is better indeed
vegetables: do you mean trees/fruit trees and gardening ? yes but agree we could find better naming

[2019-11-08 22:53] agrignard commented on #19
Yes this is what you have on a computer  display (retina one I guess), the overlay is calibrated in #px for the current projector in MIT which is a fullHD (1920x1080)

[2019-11-08 22:56] agrignard commented on #18
I have been using the simplify method to reduce the number of vertex

[code]

with this value you see it on the screen but not on the table

[2019-11-08 22:57] #18 closed, assigned to nobody

[2019-11-08 22:57] benoitgaudou opened #20 "Pollution: static_pollution as an agent"
Right now, each element of static_pollution is created as an agent.

Is it necessary to keep that, or should we investigate the possibility to have something lighter (review the schedule of static_pollution or 1 agent managing all these pollution elements) ?
I have not investigated its impact on performances....

[2019-11-08 23:01] benoitgaudou opened #21 "Production of static_pollution"
During the simulation, we can observe some pollution points that are created in some specific area of the map. My point is that in some other industrial area, no pollution is created.

I guess I could read the code and find a perfect answer for that, but as a viewer of the model, it is hard to undestand why pollution in only some area and not in other ones.

The additionnal question: which kind of

[2019-11-08 23:03] agrignard commented on #16
Actually none of the following item are a good reason not to have a good quality projector (maybe the first one about keystone but I am not sure actually).  It's not because the area is small that you don't want a good resolution I would actually say the contrary as people will focus on a very small area compare to a 2Mx2M table. The only reason is the budget.

So for this deployment let's agree o

[2019-11-08 23:06] agrignard commented on #19
The dev mode is just for dev, we could have a dedicated overlay in the experiment but again it depends on the resolution of the screen (I don't know if something we can get in GAML?)

[2019-11-08 23:07] agrignard commented on #21
Yes I agree there is maybe something wrong here, I wonder if it's not because the get are closed.

I think that @tnguyenh can give us is opinion here.

[2019-11-08 23:08] agrignard commented on #15
I got the potentiometer and the LED and will travel with it

[2019-11-08 23:09] agrignard commented on #13
I didn't have time yet to test this settings, it is crucial to have this feature working

[2019-11-08 23:09] benoitgaudou opened #22 "why evaporationAvgTime parameter has an impact on land use display"
Looking at the landuse species code, we can see:
[code]

I do not get the reason why the parameter related to evaporation speed also controls the display of the landuse.
In particular, from a user point of view, it is quite strange to observe.

[2019-11-08 23:11] agrignard commented on #22
The goal is here is to give an easy way for the user to trigger two views using the slider. We can discuss about this but I think it's good to be able to disable the landuse to really focus on the water.

Again the slider is really the cherry on the cake, if we want to have it we need to think also about the bow (made in lego here) that will embed the slider

[2019-11-08 23:11] benoitgaudou commented on #15
Will you let them in Hanoi or bring them back in USA?

[2019-11-08 23:12] agrignard commented on #15
I can leave it

[2019-11-08 23:12] #15 closed, assigned to benoitgaudou

[2019-11-08 23:22] agrignard opened #23 "Find a visual way to show the "dryness" of a landuse"
Right now the only way to know that there is not enough water on a specific landuse is to look at the river (white is no water), it would be great to give an indication as the landuse level.

I don't exactly how, maybe playing with the transparency, writing a number between or an icon?

[2019-11-08 23:38] benoitgaudou commented on #22
Perhaps it could be time to design what you precisely want as an additional remote control for the simulation, to see if we can do something ......

[2019-11-09 03:35] benoitgaudou commented on #16
Bought.

[2019-11-09 03:35] #16 closed, assigned to nobody

[2019-11-09 12:03] tnguyenh commented on #20
From my tests it is not really impacting the performance. It is vizualisation that really impacts the performance, however it is fine to replace the agents by something lighter.

[2019-11-09 12:06] tnguyenh commented on #21
Unless there is another problem, this totally normal. It seems that there is almost no water yet in the other industrial areas. So if the industries cannot consume water, they cannot work and don't reject pollution.

Maybe a solution would be to initialize the simulation with some water agents, so as to make the water spatial distribution more uniform.

[2019-11-10 16:53] tnguyenh commented on #22
It sound strange that one slider controls two different things...

[2019-11-10 16:55] tnguyenh commented on #21
However the way pollution is emitted can be changed. The idea was that industry does not produce polluted water from nowhere, but instead transforms some clean water into polluted water. I have no idea how it works in reality, so we can change that.

[2019-11-11 16:07] agrignard commented on #22
I insist that this slider is NOT PART of the initial design it was here for another table (urbam) so what do you mean by additional remote control?

[2019-11-11 17:38] agrignard commented on #13
This commit seems to have fix it. Will be tested tomorow on tje US site

However it seems that we need to install l a new version of GAMA which makes the model not compatible anymore with the offical Gama 1.8.... Maybe this need to be documented (at least to mention that the local version required a version greater than>1.8.?)

[2019-11-11 17:44] agrignard commented on #22
OK so now I removed (as it seems that it was confusing) the double impact. So now there is no way to remove the landuse display and the slider is controlling the evaporation rate (evaporationAvgTime)

I personally think that the slider is maybe not that crucial.

We can discuss togetehr to know which parameter it should trigger if we have one.

I close this issue as the initial problem has been re

[2019-11-11 17:44] #22 closed, assigned to nobody

[2019-11-11 17:45] agrignard commented on #19
I close this one for now (feel free to repopen it if we notify something wrong with the projector in Hanoi (shoudl be fine if the projector is a fullHD)

[2019-11-11 17:45] #19 closed, assigned to nobody

[2019-11-11 17:53] agrignard commented on #17
I close this for now , Fishery has been replaced by Aquaculture. If someone has a better idea that vegetables we can reopen the issue

[2019-11-11 17:53] #17 closed, assigned to nobody

[2019-11-11 17:54] agrignard commented on #5
I close this issue to focus on more specific one as it seems that a big part of the hardware deployment is on a good track

[2019-11-11 17:54] agrignard commented on #14
The grid has been successfully laser cutted.

[2019-11-11 17:54] #14 closed, assigned to benoitgaudou, agrignard

[2019-11-11 17:57] agrignard commented on #21
See also https://github.com/CityScope/CSL_Hanoi/issues/20

[2019-11-11 17:57] agrignard commented on #20
see https://github.com/CityScope/CSL_Hanoi/issues/21

[2019-11-11 17:57] #20 closed, assigned to nobody

[2019-11-11 17:57] agrignard commented on #10
This seems to be finished thatnks to @tnguyenh and @benoitgaudou

[2019-11-11 17:57] #10 closed, assigned to nobody

[2019-11-11 18:01] agrignard opened #25 "Discussion about Slider"
We need to agree if we keep the slider or not. For now it is just controlling the evaporation rate 'evaporationAvgTime), however we never discussed on where and how to place the slider.

I already mention that this slider was here for a previous table and I just use it for fun. So do we really want to use it? It has to stay as an extra point, but the main interzction should be made using lego

If

[2019-11-11 20:30] benoitgaudou commented on #13
For the moment, no release of GAMA is available to test.
This is still at the state of issue in GAMA: https://github.com/gama-platform/gama/issues/2906

To test on GAMA code source, just modified 1024 (cf. the GAMA issue) and replace it by 4096 for example.

The modification of the Grid landuse from UDP messages has been implemented in commit 8d3a7185b8b068363cd539bb9ee1a4007e3741ae

[2019-11-11 20:32] benoitgaudou opened #26 "Location of camera and leds"
What is the best location for the camera (in the centre ? on a border?).
What is the best location and orientation for the leds (bottom toward the ceil, on the ceil and toward camera .... ?

[2019-11-11 22:34] agrignard commented on #26
https://user-images.githubusercontent.com/3928502/67799101-1a329000-fa5b-11e9-8dc0-5a70b57e087b.png

[2019-11-11 23:44] benoitgaudou commented on #26
Thanks for the picture ..... but the leds are outside of the table ...

[2019-11-12 00:08] agrignard commented on #26
The led strip are glued inside one of the size panel (the one facing the user), the one that is open on the picture to show the interior of the table.

[2019-11-12 11:04] tnguyenh opened #27 "Simulation speed and layers"
The model is currently running very slowly. A great amount of lag is induced by two layers: the landuse and the main_river.

It is related to issue #18 . Both layers require simplification. Maybe main_river can be simplified manually, I will check this.

[2019-11-12 11:08] tnguyenh commented on #27
For main_river, there are a lot of vertices, but also a lot of small ponds or lakes. Maybe we should consider removing the smallest ones.

![image](https://user-images.githubusercontent.com/18676913/68666899-13207d00-0545-11ea-91c4-25ee97eea639.png)

[2019-11-12 11:38] tnguyenh opened #28 "Landuse overlapping two cells"
Some landuse overlap two cells. That means that two lego bricks can change their type. Do you think it is a problem or a feature ?

The question is important for representing dryness, as water consumption is computed at the cell level. Maybe one landuse should be related to only one cell ?

[2019-11-12 11:42] tnguyenh commented on #23
So what do you prefer ? I would say transparency (or darkness), but:

- transparency: there might be a problem with the different shades of green, because there are already two kind of green for two types of landuse.
- icon: why not but it might overload the map

[2019-11-12 14:57] tnguyenh commented on #28
Fixed. Now each landuse is associated to only one cell.

[2019-11-12 14:57] #28 closed, assigned to nobody

[2019-11-12 15:01] tnguyenh commented on #23
Now there is a dryness attribute (int) for landuse. It starts at 0, and is increased by one at each cycle. When some water is consumed by a cell, each associated landuse dryness is decremented by 'dryness_removal_amount'.

Note that for now the dryness is limited to 1000.

[2019-11-12 15:03] agrignard commented on #28
Did you commit it?

[2019-11-12 15:35] agrignard commented on #27
I have just created a simple shape with only the red river (I kept the original one also)
We are basically gaining a factor of 10% per step which is not that bad (for the user it's almost the same as the small part of the red river were almost invisible from the table) It goes from 400 agents to 20.

In this commit
https://github.com/CityScope/CSL_Hanoi/commit/99e3a156f7306305be795e073fbbd2c04a519

[2019-11-12 15:35] #27 closed, assigned to nobody

[2019-11-12 16:09] agrignard opened #29 "Scanner json entry point"
Create a dedicated entry point in the scanner (the same as urbam.json)
https://github.com/CityScope/CS_CityScoPy/blob/master/settings/cityscope_hanoi.json

[2019-11-12 16:14] agrignard commented on #23
OK I will make some test on the real table (hopefully the transparency will work)

[2019-11-12 16:25] agrignard commented on #23
the value of the dryness seems to go from like -60 000 to 0, is it normal?

[2019-11-12 17:03] agrignard commented on #23
Ok so the landuse were not schedule so couldn't udpate there dryness.

So I don't find yet the right value to have something relevant. I think we need to play between dryness_removal_amount and the max dryness (set to 1000) for now.

Just for debug if you put ````showDryness````to true I print the dryness value (ideally it should be with the transparency ones well calibrated)

[2019-11-12 17:50] agrignard opened #30 "Release 1.0"
We will try to have a release for the deployment day.

Would it be possible to push the Hanoi version of the model (ideally only the keystone shoudl be different (and the local reading)?

I have just created a dedicated CityScopeHanoi experiment where the dedicated keystone value shoud be pushed.

ideally nothing should stay local on the mac mini in Hanoi

[2019-11-12 17:54] agrignard commented on #26
Any update here? Ideally following the settings in the lab (on the picture) should be fine

I close this issue for now

[2019-11-12 17:54] #26 closed, assigned to nobody

[2019-11-12 18:02] agrignard commented on #29
Just committed here https://github.com/CityScope/CS_CityScoPy/blob/master/settings/cityscope_hanoi.json

So you will need to copy this file in the local scanner folder to replace cityscopy.json by this one

[2019-11-12 18:42] agrignard opened #31 "Slider doesn't work anymore"
Is there a reason why the port has been changed to

[code]
In the current state in Cambridge of the master the slider (who is supposed to control the evaporation rate) is currently broken

@benoitgaudou  please provide more information here to fix this issue

[2019-11-12 18:54] agrignard commented on #13
maybe link to #31 ?

[2019-11-12 23:33] benoitgaudou commented on #31
The value has been changed during the process of testing the UDP connection, with the fact that:
- the traditional UDP port in GAMA model is 9877
- the UDP port for the Processing code for slider is 9878
- the UDP port for the Scanner is 5000.

For the moment, in Hanoi, as the slider does not work and that we have implemented the UDP update of the grid, the port in the GAMA model should be in acco

[2019-11-12 23:48] benoitgaudou opened #32 "Colors of landuse"
Currently, colors for land use are:

- Aquaculture : orange
- Rice: #darkgreen
- Vegetables: lightgreen
- industrial: red

I think that colors for aquaculture and rice colors should be updated.
Here some examples:
http://mekong-cuulong.blogspot.com/2016/03/10-ban-o-cua-ong-bang-song-cuu-long.html
https://www.researchgate.net/publication/317170547_Autonomous_adaptation_to_climate_change_by_shrimp_a

[2019-11-12 23:51] benoitgaudou opened #33 "Use of cellsMap"
The variable managing the code coding from scanner is the following one:
[code]

But, this variable is used as follow:
`   cell[i,j].type<-cellsMap.values[id];	`

This seems that the key of `cellsMap` is never used.
This makes the model hard to update, in particular if we want to manage the -1 value.

[2019-11-13 13:18] agrignard commented on #31
There is 2 udp one for the slider and one for the scanner. It used to be like this I see only one networking agent now. We should have one for the scanner port 9897 if you want but we should keep also the 9898 for the slider

[2019-11-13 13:19] agrignard commented on #32
For now let s keep the color as it is

[2019-11-13 15:34] agrignard opened #34 "REVERT PINK COLOR"
This is the current color of the table introduce in this commit (https://github.com/CityScope/CSL_Hanoi/commit/01a22b77693d5127b70782451545c3cfea2ec3ba). This is not the agreed palette, it needs to go back for two main reasons:

- We don't change an agreed palette one day before the deployment
- Video and slides have already been made with the previous palette

<img width="1812" alt="Screen Shot 2

[2019-11-13 16:24] agrignard opened #35 "Problem with overlay"
it seems that the Boston table and the Hanoi doesn't behave exactly the same for the overlay.

I guess something is wrong with the resolution of the projector.

in Boston this is the configuration we have
![Screen Shot 2019-11-13 at 11 24 20 AM](https://user-images.githubusercontent.com/3928502/68782931-28aaab00-0608-11ea-8166-64751c662ef6.png)

can you check what you have on the Hanoi Mac mini?

[2019-11-13 16:27] agrignard opened #36 "Check that launchpad is still working"
Need to check if the launchpad is still compatible

[2019-11-13 16:43] agrignard commented on #31
I reput the arduino slider networking agent in this commit (the slider is working in Boston). So there is 2 agent networking created one for the slider and one for the scanner with 2 different udp port.

https://github.com/CityScope/CSL_Hanoi/commit/c29f3da744c852e8b9c15e8eae2f5ee354cc39e2

I keep this issue open as we need to validate with the Hanoi team that the local scanning is still working (

[2019-11-13 16:56] #34 closed, assigned to nobody

[2019-11-13 17:38] #31 closed, assigned to nobody

[2019-11-13 17:38] #36 closed, assigned to agrignard

[2019-11-13 17:41] agrignard commented on #29
Just to clarify using internet is not just for fun it gives this feature
https://cityscope.media.mit.edu/CS_CityIO/

Tracking in real time which cityscope table is updating (so if there are good internet in the exhobition we should use it)

[2019-11-13 17:43] #21 closed, assigned to nobody

[2019-11-13 17:54] agrignard commented on #33
You're right the key is never used. I can change it to a list of string? I don't see how this make the model harder to update?

[2019-11-13 18:04] agrignard commented on #33
Do you prefer this ?
https://github.com/CityScope/CSL_Hanoi/commit/539428e47560a86360d4ec8e23c2d68c24803321

IF yes I let you close this issue

Also what do you mean by "This makes the model hard to update"? In term of time of update or if we want to modify it?